[Desktop Entry]
Name=Qalculate! (Qt)
GenericName=Calculator
GenericName[ca]=Calculadora
GenericName[de]=Taschenrechner
GenericName[es]=Calculadora
GenericName[fr]=Calculatrice
GenericName[pt_BR]=Calculadora
GenericName[pt_PT]=Calculadora
GenericName[ru]=Калькулятор
GenericName[sl]=Računalo
GenericName[sv]=Kalkylator
GenericName[zh_CN]=计算器
Comment=Powerful and easy to use calculator
Comment[ca]=Calculadora poderosa i fàcil a usar
Comment[de]=Leistungsstarker und einfach zu bedienender Taschenrechner
Comment[es]=Calculadora poderosa y fácil de usar
Comment[fr]=Une calculatrice puissante et facile d'utilisation
Comment[nl]=Gemakkelijk te gebruiken rekenmachine met veel mogelijkheden
Comment[pt_BR]=Calculadora potente e fácil de usar
Comment[pt_PT]=Calculadora poderosa e fácil de usar
Comment[ru]=Мощный и простой в использовании калькулятор
Comment[sl]=Zmogljivo računalo, preprosto za uporabo
Comment[sv]=Kraftfull och användarvänlig miniräknare
Comment[zh_CN]=强大而易用的计算器
Exec=qalculate-qt
Icon=${SNAP}/meta/gui/qalculate-qt.svg
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=qalculate-qt
Categories=Qt;Utility;Calculator;Education;Science;Math;
Keywords=calculation;arithmetic;scientific;financial;
Keywords[ca]=calculation;arithmetic;scientific;financial;
Keywords[de]=Berechnung;Arithmetik;Wissenschaft;Finanzen;
Keywords[es]=calculadora;aritmética;científica;financiera;
Keywords[fr]=calcul;arithmétique;scientifique;financier;
Keywords[pt_BR]=calculadora;aritmética;científica;financeira;
Keywords[pt_PT]=calculadora;aritmética;científica;financeira;
Keywords[ru]=расчёт;расчет;арифметика;научный;финансовый
Keywords[sl]=izračun;aritmetika;znanstveno;finančno;računalo;kalkulator;
Keywords[zh_CN]=计算;算术;科学;金融;
